body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  header.masthead {
    position: relative;
    background: url("../img/literature-3033196_1280.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #033e79;
    height: 98%;
    width: 100%;
    top: 3em;
    left: 0;
    opacity: 0.8;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 10rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  
  section {
    
    padding: 1rem 1rem;
    background-color: #033e79;
}

.about {

  background: url("../img/science-1018806_1920.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
  
  
  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .modal-header, .close {
    background-color: #033e79;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}