/* This is a CSS file */

* {
    /* Need to decide on universal design elements and put them here */
    font-family: Arial, Helvetica, sans-serif;
}

.small {
    width: 25%;
    position: fixed;
    top: 100px;
    right: 50px;
    float: right;
    z-index: 100;
}

.small span {
    font-size: 16pt;
}

#createPasswordPage {
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
    max-width: 45%;
}

#createPassword {
    text-align: center;
    margin: 0 auto;
}

#createPassword button {
    float: left;
}

#createPassword span {
    font-size: 16pt;
    float: left;
    vertical-align: bottom;
}

#createPassword #email {
    float: left;
    font-size: 16pt;
}

#closingImage {
    margin-top: -5%;
    display: block;
    width:80%;
    height:80%;
    margin: 0 auto;
    border-radius: 5%;
}

.checkbox {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.check {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.right {
    text-align: right;
    float: right;
}

#createAssessment {
    margin-top: 3%;
}

#createAssessment #terms {
    margin: 2% 0;
}

.createAccount {
    margin-top: 4%;
}

#CreateAccount {
    text-align: left;
    max-width: 70%;

}

#assessment {
    margin-top: 3%;
}

.quizCard {
    margin-top: 2%;
    z-index: 1; 
    border: solid 2px #385D8A !important;
    height: auto;
}

.canDrag {
    width: 150%;
    background-color: #92D050 !important;
    cursor: pointer;
    font-size: 16pt;
}

.canDrop {
    z-index: 0;
    margin-top: 1%;
    width: 29%;
    padding: 0%;
}

#next {
    margin-left: 77%;
    margin-top: 2.5%;
}

#directions {
    padding-bottom: 1.5%;
}

#directions p {
    font-size: 16pt;
}

.card-title {
    font-size: 24pt;
}

#startButton,
#returnButton {
    margin: 5% 30%;
    text-align: center;
    width: 40%;
    height: 100px;
    font-size: 16pt;
    cursor: pointer;
}

.speak {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 12pt;
}

.white {
    color: white;
}

@media(min-width: 768px) {
    .canDrag {
        width: 58.3%;
        margin-left: 20%;
        cursor: pointer;
    }

    .canDrop {
        z-index: 0;
        margin-top: 1%;
        width: 17.7%;
        padding: 0%;
    }

    #next {
        float: right;
        margin-top: 2.5%;
    }

    .small {
        margin-left: 80%;
    }
}

.definition {
    background-color: #4F81BD !important;
    color: white;
    margin-top: 1%;
    width: 68%;
    z-index: 0;
    font-size: 16pt;
    text-align: left;
}


#createPassword {
    max-width: 60%;
}

.report {
    margin-top: 5%;
}

/* Bradley Peradotto
css doc for addwords.html 
 could be added to a larger css doc.
*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

  /* Navbar*/

  .navbar-dark .navbar-nav .nav-link  {
    
        color: rgb(255, 254, 254);
        
        
    }

 .customlink  {
      border-right: 1px solid rgb(255, 255, 255);

    }

    .navbar-dark .navbar-nav a.nav-link{
        
            color: #eee;
        }

    .navbar-dark .navbar-nav a:hover  {
            background: rgb(39, 39, 39);
          
        }
  
  /*
   * Typography
   */
  
  h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  .sidebar-brand a{

    color: rgb(255, 255, 255);
    border-bottom: 1px solid #eee;
    font-size: 1.5em;
  }

  .sidebar .nav-pills .nav-link.active, .show>.nav-pills .nav-link{
   background: #000000;
   color: rgb(255, 255, 255);

  }
.sidebar a.nav-link{

    color: #eee;
}

.sidebar a:hover{

    background:  rgb(39, 39, 39);
}
  
  /* Sidebar navigation */
  .sidebar{
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebar .nav{
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item{
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item{
    margin-left: 0;
  }
  
  .sidebar .nav-link{
    border-radius: 0;
  }
  
 

/* For Alert items  */
    
       #success{
        position: fixed;
        height:5em;
        margin: auto;
        width: 70%;
        top: 15em;
        z-index: 2;
        display:none;
        overflow-y: auto;
       }
    
       #info{
        position: fixed;
        margin: auto;
        height:5em;;
        width: 70%;
        top: 15em;
        z-index: 3;
        display:none;
        overflow-y: auto;
       }
    
       #warning{
        position: fixed;
        margin: auto;
        height:5em;;
        width: 70%;
        top: 15em;
        z-index: 4;
        display:none;
        overflow-y: auto;
       }

       #special{
        position: fixed;
        margin: auto;
        height:5em;;
        width: 70%;
        top: 15em;
        z-index: 5;
        overflow-y: auto;
       }
       #sure{
        position: fixed;
        margin: auto;
        
       }
   
   
  
