/* This is a CSS file */

* {
    /* Need to decide on universal design elements and put them here */
}

#CreateAccount {
    text-align: left;
    max-width: 70%;

}

.card {
    max-width: 40%;
    margin-top: 2%;
    z-index: 1;
}

.canDrop {
    z-index: 0;
    margin-right: 1%;
    background-color: lightgray;
    margin-top: 1%;
    width: 21%;
    padding: 1%;
}

.definition {
    margin-top: 1%;
    width: 100%;
    z-index: 0;
}

