/* This is a CSS file */

* {
    /* Need to decide on universal design elements and put them here */
    font-family: Arial, Helvetica, sans-serif;
}

.createAccount {
    margin-top: 7%;
}

#CreateAccount {
    text-align: left;
    max-width: 70%;

}

#assessment {
    margin-top: 5%;
}

.card {
    margin-top: 2%;
    z-index: 1; 
    border: solid 2px #385D8A !important;
}

.canDrag {
    width: 105%;
    background-color: #92D050 !important;
    cursor: pointer;
    font-size: 16pt;
}

.canDrop {
    z-index: 0;
    margin-top: 1%;
    width: 29%;
    padding: 0%;
}

#next {
    margin-left: 80.5%;
    margin-top: 2.5%;
}

.speak {
    background: none;
    border: none;
    float: right;
    cursor: pointer;
    font-size: 12pt;
}

.white {
    color: white;
}

@media(min-width: 768px) {
    .canDrag {
        width: 58.3%;
        margin-left: 20%;
        cursor: pointer;
    }

    .canDrop {
        z-index: 0;
        margin-top: 1%;
        width: 18%;
        padding: 0%;
    }

    #next {
        margin-left: 79%;
        margin-top: 2.5%;
    }
}

.definition {
    background-color: #4F81BD !important;
    color: white;
    margin-top: 1%;
    width: 68%;
    z-index: 0;
    font-size: 16pt;
}


#createPassword {
    max-width: 60%;
}

.report {
    margin-top: 5%;
}
