/* Bradley Peradotto
css doc for addwords.html 
 could be added to a larger css doc.
*/

table {
    font-family: roboto condensed, arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

th {
    border: 1px solid #dddddd;
    color: #FFFFFF;
    background-color: #1418DF;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}